.container_2 {
    position: relative;
    width: 100%;
    min-height: 100px;
    text-align: center;
    /* display: flex; */
    flex-direction: column;
    text-align: center;
    padding: 3rem 0 3rem 2rem;
    margin-bottom: 15px;
}

.text01 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    margin-top: 25px;
    text-align: center;
    padding: 1.5rem 10rem 1.5rem 10rem;
}

#hed {
    margin-top: 10px;
}

#colr {
    color: #1c1852;
}


/*potentional*/

.skills {

    /* filter: blur(4px); */
    width: 100%;
    overflow: hidden;
    margin-top: -15px;
    /* background-color: antiquewhite;
    background: url('./images/common/R.png');
    opacity: 0.5; */
}

/* .slls#back_g{
    width: 100%;
   ki
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    filter: blur(1px); */
/* height: ; */
/* } */
.skills p {
    color: black;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 50px
}

.container_3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    grid-gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 35px;
}

#sk_3 {
    margin-top: 0px;
}

.boxx {
    height: 250px;
    width: 100%;
    transition: all 0.8s;
    cursor: pointer;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
}

/* -----------------section1 img part------------- */
.html {
    background: url('./images/program/html.png') center center no-repeat;
    background-size: 100%;
}

.html:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.css {
    background: url('./images/program/css.png') center center no-repeat;
    background-size: 100%;
}

.css:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.js {
    background: url('./images/program/js.png') center center no-repeat;
    background-size: 100%;
}

.js:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.Ajs {
    background: url('./images/program/angular.png') center center no-repeat;
    background-size: 100%;
}

.Ajs:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.react {
    background: url('./images/program/react.png') center center no-repeat;
    background-size: 100%;
}

.react:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.in {
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 22px;
    letter-spacing: 1px;
}

/*------------------------- section 2 & 3 -------------------------*/
/* contain text part */

.contain {
    display: flex;
    padding-bottom: 30px;
    padding-top: 20px;
    background: rgb(233, 233, 233);
}

#hed3 {
    background: rgb(233, 233, 233);
    padding-top: 20px;
    padding-bottom: 40px;
}

#hed {
    background-color: rgb(233, 233, 233);
}

.frame {
    width: 50%;
    text-align: center;
}

.mob {
    text-align: center;
    width: 50%;
}

.framework {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    grid-gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    width: 47%;
    margin-left: 20px;
}

.mobile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    grid-gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    margin-left: 40px;
}

/*---------------- section 2&3 image part------------------ */

.skills2 {

    width: 100%;
    overflow: hidden;
    display: flex;
    background: rgb(233, 233, 233);
}

.skills2 p {
    justify-content: center;
    font-size: 20px;
    margin-bottom: 30px
}


.net {
    background: url('./images/program/net.png') center center no-repeat;
    background-size: 90%;
}

.net:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.boot {
    background: url('./images/program/spring.png') center center no-repeat;
    background-size: 90%;
}

.boot:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.nodejs {
    background: url('./images/program/node.png') center center no-repeat;
    background-size: 90%;
}

.nodejs:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.Flutter {
    background: url('./images/program/flutter.png') center center no-repeat;
    background-size: 100%;
}

.Flutter:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.kotlin {
    background: url('./images/program/kotlin.png') center center no-repeat;
    background-size: 100%;
}

.kotlin:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.reactNative {
    background: url('./images/program/reactNative.png') center center no-repeat;
    background-size: 95%;
}

.reactNative:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}


.sketch {
    background: url('./images/program/sketch.png') center center no-repeat;
    background-size: 100%;
}

.sketch:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.adobe {
    background: url('./images/program/adobe.png') center center no-repeat;
    background-size: 100%;
}

.adobe:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.figma {
    background: url('./images/program/figma.png') center center no-repeat;
    background-size: 100%;
}

.figma:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.webflow {
    background: url('./images/program/webflow.png') center center no-repeat;
    background-size: 100%;
}

.webflow:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.balsamiq {
    background: url('./images/program/balmiq.png') center center no-repeat;
    background-size: 100%;
}

.balsamiq:hover {
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.6;
}

.textlong {
    width: 100%;

    display: flex;
}

.lefttext {
    background-color: aqua;
    width: 50%;
    border-radius: 0px 400px 400px 0px;
    margin: 30px;
    padding: 30px;
    opacity: -0.16s;
}

.lefttext h3 {
    text-align: center;
}

.lefttext:hover {
    cursor: pointer;


}

.righttext:hover {
    cursor: pointer;

}

.righttext {
    background-color: rgb(153, 28, 236);
    width: 50%;
    border-radius: 400px 0px 0px 400px;
    /* text-align: center; */
    margin: 30px;
    padding: 30px;
}

.righttext p {
    text-align: center;
}


/* --------------------------------------------------------- */

#hed2 {
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 35px;
}

#tags {
    font-weight: bolder;
    border-bottom: 2px solid rgb(3, 3, 177);
}

.divide {
    display: flex;
    width: 100%;
}

.divide .process {
    float: left;
    width: 65%;
    font-size: 18px;
    margin-left: 25px;
    /* background-color: aquamarine; */
    word-spacing: 6px;
}

.divide #gif {
    float: right;
    width: 30%;
}

.divide #gif img {
    margin-left: 45px;
    height: 300px;
}

/* modal */


#md_l {
    height: 85%;
}

#mdl {
    border: 2px solid #1c1852;
    border-radius: 20px;
    background: rgb(218, 218, 239);
}

#md_body {
    padding-top: 30px;
}

#clse {
    color: white;
    background: #1c1852;
    padding: 10px;
}

#clse:hover {
    background: black;
    color: white;
}


.skills#blur.active {
    filter: blur(5px);
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 1090px) {
    .divide #gif img {
        width: 80%;
    }
}

@media screen and (max-width:990px) {
    body {
        width: 100%;
    }

    .container_2 {
        width: 100%;
    }

    .skills {
        width: 100%;
    }

    .contain {
        width: 100%;
    }

    .split {
        width: 100%;
    }

    #hed3 {
        width: 100%;
    }

}

@media screen and (max-width:610px) {
    .container_2 .text01 {
        padding: 0px;
    }
}